.body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
}

.start-row {
  margin-top: 25px;
}

.logo {
  width: 100px;
  float: left;
}

.main-heading {
  margin-top: 25px;
  text-align: right;
  color: #f54242;
  font-family: 'Sofia';

}

.sub-heading {
  text-align: right;
  font-size: 30px;
  color: #85c955;
  font-family: 'Sofia';
}

.dash {
  width: 100%;
}

.main-image {
  width: 100%;
}

.loveactually {
    width: 300px;
    height: 444px;
  }

.theholiday {
    width: 300px;
    height: 444px;
  }

.itsawonderfullife {
    width: 300px;
    height: 444px;
  }

h2.small-heading {
   text-align: center;
   margin-top: 10px;
}

p.description {
  text-align: center;
  margin-top: auto;
}

.col-md-4 {
  text-align:center;
}

p.footer {
  text-align: center;
  font-size: 15px;
}

.resp-image {
  width: 100%;
  height: auto;
}
